@import "~bootstrap/scss/bootstrap";

body {
  background-image: url("https://media3.giphy.com/media/FlodpfQUBSp20/giphy.gif?cid=790b761164983fe73a043dc193af9103801e3d2011c3518a&rid=giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.searchBar {
  padding: 50px;
}