#planet-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
}

.individual-card {
  // padding: 100px;
  border-style: solid;
  color: white;
  background-color: black;
  margin: 20px;
  height: 250px;
}

.card-img-top {
  display: flex;
  justify-content: center;
  height: 240px;
  width: 275px;
}

.title {
  padding-top: 20px;
}
