#planet-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
}

.individual-card {
  // padding: 100px;
  border-style: solid;
  color: white;
  background-color: black;
  margin: 20px;
  height: 275px;
  *{pointer-events: none;}
}

.title {
  padding-top: 25px;
  margin: 25px;
}
